<div class="list row">
    <div class="col">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search by username" [(ngModel)]="username" />
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" type="button" (click)="searchUsername()" > Search </button>
            </div>
            <div class="mx-5">            
            </div>
          </div>
    </div>

    <table class="table table-hover">
      <thead>
        <tr>
          <th>Username</th>
          <th>Email</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let member of members; let i = index" [class.active]="i == currentIndex" (click)="setActiveMembers(member, i)">
          <td>{{ member.username}}</td>
          <td>{{ member.email}}</td>
          <td>          <button class="btn" (click)="deleteMember()"> Delete </button></td>
          <!-- <td><a  class="badge badge-warning" routerLink="/members/{{ currentMember._id }}" > Edit </a></td> -->
        </tr>
      </tbody>
    </table>

    <button class="m-3 btn btn-danger" (click)="removeAllMembers()">
      Remove All
    </button>

    <div class="col-md-6">
      <div *ngIf="currentMember._id">
        <h4>Tutorial</h4>
        <div>
          <label><strong>username</strong></label> {{ currentMember.username }}
        </div>
        <div>
          <label><strong>email</strong></label>
          {{ currentMember.email }}
        </div>
  
        <a class="badge badge-warning" routerLink="/members/{{ currentMember._id }}">
          Edit
        </a>
      </div>
  
      <div *ngIf="!currentMember">
        <br />
        <p>Please click on a Tutorial...</p>
      </div>
    </div>

    </div>