    <app-navbar></app-navbar>
    <main>

      <div class="row">
        <section class="intro">
          <h1 class="intro_title">
            Welcome
          </h1>
          <img class="intro_illustration" src="./assets/img/intro.svg"/>
        </section>

        <section class="login">
        <app-login></app-login>
        </section>
      </div>

      </main>


      <footer class="footer">
        <div class="footer-container">
          <ul class="footer-social">
            <li>
              <a href="mailto:dahri.fatima.dev@gmail.com" rel="noopener noreferrer">
                <i class="fa fa-envelope-o lg" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="https://www.instagram.com/tima.da1/" target="_blank" rel="noopener noreferrer">
                <i class="fa fa-instagram" aria-hidden="true"></i>
              </a>
            </li>
            <li>
              <a href="https://www.facebook.com/dahri.tima" target="_blank" rel="noopener noreferrer">
                <i class="fa fa-facebook-official" aria-hidden="true"></i>
                </a>
            </li>
          </ul>
          <p class="copyright">
                &copy; Copyright <strong><span>myApp</span></strong>. All Rights reserved 2021
    
          </p>
          
      
        </div>
      </footer>
    
      