<app-navbar></app-navbar>
<div class="container d-flex justify-content-center" *ngIf="currentUser; else loggedOut">
  <div class="card m-3 text-center" style="width: 50vw;">
    <div class="card-header">
      <h3>
        <strong>{{ currentUser.username }}</strong>
      </h3>
    </div>
    <div class="card-body">
      <p>
        <strong>Email:</strong>
        {{ currentUser.email }}
      </p>
      <strong>Roles:</strong>
      <p *ngFor="let role of currentUser.roles">

          {{ role }}

      </p>
    </div>
    
  </div>
  </div>
    
  
  <ng-template #loggedOut>
    Please login.
  </ng-template>