<div class="container">
<div class="page-wrapper chiller-theme toggled">
<nav class="main-menu">
  <div>
     <a class="logo" href="">
     </a> 
   </div> 
 
 <ul>
       
 <li class="profile">
   <a routerLink="/profile">
   <img class="avatar img-responsive img-rounded" src="https://cdn-icons.flaticon.com/png/512/3404/premium/3404470.png?token=exp=1637335301~hmac=cf1a1579bb2e74f38d5ae6aa5bd4beab" alt="User picture">
  <span class="nav-text">{{currentUser.username}}</span>
  </a>
  </li>  

 <li>                                   
 <a routerLink="/home">
 <i class="fa fa-home fa-lg"></i>
 <span class="nav-text">Home</span>
 </a>
 </li>
     
 <li>                                 
 <a routerLink="/user">
 <i class="fa fa-users fa-lg"></i>
 <span class="nav-text">Members</span>
 </a>
 </li>   
 
   
 <li class="darkerli">
 <a href="">
 <i class="fa fa-desktop fa-lg"></i>
 <span class="nav-text">Technology</span>
 </a>
 </li>
   
 <li class="darkerli">
 <a href="">
 <i class="fa fa-plane fa-lg"></i>
 <span class="nav-text">Travel</span>
 </a>
 </li>
   
 <li class="darkerli">
 <a href="">
 <i class="fa fa-sign-out text-danger"></i>
 <span (click)="logout()">Log Out</span>
 </a>
 </li>
   
 </ul>
 </nav>

 <main class="page-content">
    <div class="row">
      <div class="col-lg-8 mx-auto">
        <app-add-member></app-add-member>
      <app-members-list></app-members-list>
      </div>
  </div>

</main>
</div>
</div>